/*.unselected {
display: inline-block;
padding: 0.5em 1em;
text-decoration: none;
color: #67c5ff;
border: dashed 1px #67c5ff;
border-radius: 3px;
transition: .4s;
background-color: transparent;
}*/
img{
    margin: 0;
	padding: 0;
    vertical-align: bottom;
}
.unselected{
background-color: Transparent;
background-repeat:no-repeat;
border: solid 3px transparent;
overflow: hidden;
margin : 3px;
padding : 0px;
}



.selected{
background-color: Transparent;
background-repeat:no-repeat;
border:solid 3px #80bf01;
overflow: hidden;
margin : 3px;
padding : 0px;
}


/*
.unselected:active {
position: relative;
display: inline-block;
font-weight: bold;
padding: 0.5em 1em;
text-decoration: none;
border-left: solid 4px #668ad8;
border-right: solid 4px #668ad8;
color: #668ad8;
text-shadow: 0 0 5px white;
padding: 0.5em 1em;
background: -webkit-repeating-linear-gradient(-45deg, #cce7ff, #cce7ff 3px,#e9f4ff 3px, #e9f4ff 7px);
background: repeating-linear-gradient(-45deg, #cce7ff, #cce7ff 3px,#e9f4ff 3px, #e9f4ff 7px);
transition: .4s;
}*/

.carousel  {
    position:absolute;
    top:450px;
}

.crsl{
width=200px;
}

#rootmap{
    width: 375px;
    height: 450px;
}

.txt{
     position:absolute;
    top: 0px;
    left :200px;
    
  
}
.button1{
   text-align:center;
}

