.carousel  {
	position:relative;
   width:100%;
   height:25%;


}

ons-carousel-item{
	position:relative;
	width:80%;
	height:90%;

}

#card{
position:absolute;
width:94%;
height:85%;
margin-left:3%;
margin-top:4%;

	background-color: white;
    box-shadow: 2px 2px 4px gray;
    	/*margin-left: 20px;
	margin-right: 20px;*/
	

}

#rootmap{
    width: 100%;
    height: 75%;
}

.crslimg{
	
}

.txt{
     position:absolute;
    top: 0px;
    left :50%;
    max-width: 
}

